body {
  margin: 0 auto;
}

.margin-auto-x {
  margin: auto;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.content-width {
  width: 1320px;
  margin-inline: auto;
}

.container {
  height: 600px;
  width: 1320px;
  border-radius: 20px;
  position: relative;
  margin-inline: auto;
}

.gradient {
  background: linear-gradient(0deg, white 10%, rgba(255, 0, 0, 0.1) 100%);
}

.image-container {
  position: relative;
  text-align: start;
  color: white;
  height: 600px;
  width: 1320px;
}

.image-filter {
  filter: brightness(80%);
}

.darkened {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

/* Centered text overlay*/
.centered-textover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-h1 {
  font-size: 72px;
  padding-block: 0;
  margin-block: 0;
}

.banner-h3 {
  font-size: 32px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-1 {
  font-size: 88px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-2 {
  font-size: 48px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-3 {
  font-size: 24px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-4 {
  font-size: 18px;
  padding-block: 0;
  margin-block: 0;
}

.capitalize {
  text-transform: capitalize;
}

.serif {
  font-family: Merriweather, serif;
}

.sans {
  font-family: Inter, sans-serif;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-red-1 {
  color: #ff0000;
}

.text-white {
  color: whitesmoke;
}

.allcaps {
  text-transform: uppercase;
}

.padding-y-025 {
  padding-block: 0.25em;
}

.margin-inline-auto {
  margin-inline: auto;
}

.margin-t-1 {
  margin-top: 1em;
}

.margin-t-2 {
  margin-top: 2em;
}

.padding-y-5 {
  padding-block: 5em;
}

.padding-y-1 {
  padding-block: 1em;
}

.padding-t-5 {
  padding-top: 5em;
}

.padding-x-3 {
  padding-inline: 3em;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 33.33%;
}

.w-50 {
  width: 50%;
}

.border {
  border: 1px solid red;
}

.align-center {
  align-items: center;
}

.btn-transperent {
  padding: 1rem 2.5rem;
  font-size: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 0;
}

.btn-red {
  padding: 1rem 2.5rem;
  font-size: 20px;
  color: white;
  background: red;
  border-radius: 8px;
  border: 0;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1em;
  row-gap: 1em;
}

.bg-rose {
  background-color: rgba(255, 0, 0, 0.05);
}

.bg-charcoal {
  background-color: black;
}

.gap-1 {
  gap: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

.input-box {
  border: 0;
  padding: 1em 1em;
  border-radius: 35px 0 0 35px;
  width: 400px;
  font-size: 18px;
  font-weight: 600;
}

.input-button {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  padding: 1em 1em;
  background-color: #ff0000;
  color: white;
  border-radius: 0 35px 35px 0;
}