body {
    margin: 0 auto;
  }

.margin-auto-x{
  margin: auto;
}

.display-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.container {
  height: 600px;
  width: 1320px;
  border-radius: 20px;
  background: linear-gradient(0deg, white 10%, rgba(255,0,0, 0.1) 100%);
}

.image-container {
  position: relative;
  text-align: start;
  color: white;
  height: 600px;
  width: 1320px;
}

.image-filter{
    filter: brightness(80%);
}

.darkened {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

/* Centered text overlay*/
.centered-textover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-h1{
  font-size: 72px;
  padding-block: 0;
  margin-block: 0;
}

.banner-h3{
  font-size: 32px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-1{
  font-size:88px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-2{
  font-size:48px;
  padding-block: 0;
  margin-block: 0;
}

.section-display-3{
  font-size:24px;
  padding-block: 0;
  margin-block: 0;
}
.section-display-4{
  font-size:18px;
  padding-block: 0;
  margin-block: 0;
}

.serif{
  font-family: Merriweather, serif;
}

.sans{
  font-family: Inter, sans-serif;
}
.bold{
  font-weight: 700;
}

.semibold{
  font-weight: 600;
}
.bolder{
  font-weight: 900;
}

.text-center{
  text-align: center;
}

.text-start{
  text-align: start;
}

.text-red-1{
  color:#ff0000;
}

.allcaps {
  text-transform: uppercase;
}

.padding-y-025{
  padding-block: 0.25em;
}

.margin-t-2{
  margin-top: 2em;
}

.padding-y-5{
  padding-block: 5em;
}

.w-75{
  width: 75%;
}
.w-25{
  width: 25%;
}

.w-100{
  width: 100%;
}

.w-90{
  width: 90%;
}

.border{
  border: 1px solid red;
}

.align-center{
  align-items: center;
}

.btn-transperent{
  padding: 1rem 2.5rem ;
  font-size: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: 0;
}

.btn-red{
  padding: 1rem 2.5rem ;
  font-size: 20px;
  color: white;
  background: red;
  border-radius: 8px;
  border: 0;
}